<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fc676cf1-c10c-4137-9f0d-e3895453d9fc/resourceGroups/MzansiMarket/providers/Microsoft.ApiManagement/service/MzansiMarketApi/apis/MzansiMarket</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/fc676cf1-c10c-4137-9f0d-e3895453d9fc/resourcegroups/MzansiMarketBackend/providers/Microsoft.Web/sites/MzansiMarketAppService</ResourceId>
    <ResourceGroup>MzansiMarketBackend</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mzansimarketappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>57033880-7e13-df8c-6f43-9a8cad37157a</ProjectGuid>
    <PublishUrl>https://mzansimarketappservice.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>